:root{
    --primarycolor:grey;
    --primary: 63,81,181;
    --secondarycolor:#3f51b5;
}
/* .App{
    max-width: 1200px !important;
    margin: auto;
    border: 2px solid;
} */

#dark .watch-vedio-button.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
    color: white;
}
#dark{
    background-color: black;
    color: white;
}
#dark  .pricing-card{
    background-color: black;
}
#dark .header.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color : black;
}
#dark .nav-items.css-1e4e1qc-MuiButtonBase-root-MuiButton-root {
    color:white;
  }
